/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20.02.2019, 12:39:07
    Author     : Evgeniy
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css');

*{
    font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}
i{
    font-style: normal;
}
a{
    text-decoration: none;
    color: #000;
}

body{
    margin: 0px;
    padding: 0px;    
}

.logIn{
    width: 450px;    
    margin: 50px auto 0 auto;
    text-align: center;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
}

.logIn > div{
    padding: 15px 0px;
}

.logIn > div > p{
    padding: 0px;
    margin: 0px;
}

.valid-error > input{
    border: 1px solid red;
}

.valid-error *{
    color: red;
}

.logIn > div * a{
    font-size: 40px;
    transition: 0.3s;
}

.logIn > div * a:hover{
    font-size: 50px;
    color: #71bb71;
    text-shadow: 1px 1px #000;
}

.logIn > div > input[type="text"],input[type="password"]{
    width: 300px;
    height: 50px;
    font-size: 18px;    
    border-radius: 4px;
    padding-left: 10px;
}

.logIn > div > input[type="checkbox"]{
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 10px;
}

.button_login_group{
    display: flex;
    justify-content: center;
}

.ajaxLoadfullPage{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: #a5aea978;
    z-index: 9999999;
}

.ajaxLoad{    
    position: relative;
    width: 200px;
    text-align: center;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    padding: 10px;
    background-color: #54bf88a3;
    font-weight: bold;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2), 0 0 2px 0 rgba(0,0,0,0.19);
    z-index: 99999999;
}

.ajaxLoad:before{
    content: "";
    color: transparent;
    width: 100%;
    height: 45px;
    margin-bottom: -33px;
    margin-top: -10px;
    margin-left: -10px;
    padding-right: 10px;
    padding-left: 10px;
    background-image: -webkit-linear-gradient(rgba(184, 219, 215, 0.9), rgba(255, 255, 255, 0.1) );
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
    display: block;
}

h1{	
    margin: 20px auto 20px;	
    text-align: center;
}

h2{
    font-size: 10pt;
    text-align: center;
}

h3{
    text-align: center;
    line-height: 0px;
    margin-bottom: 20px;
    font-size: 15px;
}

.mt15{
    margin-top: 15px;
}

.view_plc{
    cursor: pointer;
    border-bottom: 1px solid black;
}

.form_setings{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.view_setings{
    display: flex;
    flex-direction: column;    
}

#toTop {
    display: none;
    position: fixed;
    left: 50px;
    bottom: 50px;
    cursor: pointer; 
    z-index: 10;
}

#toTop:before{
    content: ' ';
    position: relative;
    bottom: 40px;
    border: 20px solid;
    border-color: #ffffff00 #ffffff00 #85c07f #ffffff00;
    z-index: 2; 
}

#toTop:after{
    content: ' ';
    position: relative;
    padding: 0px 10px;
    right: 30px;
    background-color: #85c07f;
    z-index: 2; 
}

#toTopB {
    position: fixed;
    left: 44px;
    bottom: 50px;
    cursor: pointer;    
}

#toTopB:before{
    content: ' ';
    position: relative;
    bottom: 41px;
    left: 4px;
    border: 22px solid;
    border-color: #ffffff00 #ffffff00 #000000 #ffffff00;
    z-index: 1;       
}

#toTopB:after{
    content: ' ';
    position: relative;
    padding: 1px 11px;
    right: 29px;
    background-color: #000000;
    z-index: 1;            
}


.error{    
    position: fixed;
    text-align: center;
    color: #ff0000fa;
    font-size: 20px;
    font-weight: bold;
    background: whitesmoke;
    z-index: 99999;
    top: 60px;
    right: 0;
    height: 100%; 
    width: 0%;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.44);
    overflow: overlay;
    transition: width 0.5s;
}

.error p{
    cursor: pointer;
    border-bottom: 1px solid #d6d6d6;
    margin: 0;
    padding: 5px 0px;
}

.error:before{
    content: '\f104 ';
    color: white;
    position: fixed;
    cursor: pointer;
    transition: 0.5s;
    right: 0px;
    border: 1px solid #989898;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    line-height: 1;
    background-color: #f44336;
    box-shadow: 0px 1px 5px 1px #cecece;
}

.error_push{        
    width: 20%; 
    transition: width 0.5s;
}

.error_push:before{    
    content: '\f105';
    right: 19.5%;
}

.receipt{
    position: absolute;
    width: 500px;
    background: #f1f1f1;
    z-index: 999;
    box-shadow: 0px 0px 5px 0px;
}

.receipt:before{
    content: '';
    position: absolute;
    border: 22px solid;
    border-color: #ffffff00 rgb(170, 213, 170) #ffffff00 #ffffff00;
    left: -44px;
    top: 0px;
    z-index: 2;
}

.receipt:after{
    content: '';
    position: absolute;
    border: 25px solid;
    left: -50px;
    top: -3px;
    z-index: 1;
    border-color: #ffffff00 rgba(0, 0, 0, 0.24) #ffffff00 #ffffff00;
}

.receipt_link{
    padding: 13px 13px;
    font-weight: bold;
}

.receipt_header{
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    background: linear-gradient(to top, #71bb71 0%, #bddebd 100%);
}

.receipt_comp{

}

.receipt_comp > div {
    padding: 0px 15px;
}

.receipt_comp span{
    display: inline-block;
    width: 40%;
}

.receipt_comp input[type="number"]{
    padding: 5px;
    width: 50%;
    font-size: 14px;
    font-weight: bold;
}

.receipt p{
    margin: 0px;
    padding: 5px 20px;
    text-align: center;
}

.receipt p > span {
    font-weight: bold;
}

.request{
    overflow: overlay;
    max-height: 400px;
}

.request_header{
    display: block;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background: linear-gradient(to top, #71bb71 0%, #bddebd 100%);    
}
.table_request_header{
    border-bottom: 1px solid;
    background-color: #d9d9d9;    
}

.table_request_header > div{
    display: inline-block;
    width: 24%;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
}

.row_request{
    border-bottom: 1px solid;
    background-color: #ffffff;
}

.row_request > div{
    display: inline-block;
    width: 24%;
    text-align: center;
    vertical-align: middle;
}

.close {
    position: absolute;
    right: -15px;
    top: -15px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #c82424;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    transition: 0.3s linear;
}

.close:hover{
    background-color: #000;
}

.close:hover:before, .close:hover:after {     
    background-color: #c82424;
}
.close:before, .close:after {
    position: absolute;
    left: 14px;
    top: 3.5px;
    content: ' ';
    height: 25px;
    width: 4px;
    background-color: #fff;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

.hide{
    display: none;
    visibility: hidden;
}

svg > g > g > text{
    font-size: 20px;
}

.container {        
    display: flex;
    /*justify-content: space-around;*/
}

.left {
    order: 1;
    flex-basis: 17%;
    background-color: #f1f1f1!important;
    border-right: 3px solid #909090;
    min-height: 100vh;
}

#section-to-print{
    order: 2;
    flex-basis: 75%;
}

.right{     
    order: 2;
    flex-basis: 80%; 
}

#wrapper{
    min-width: 225px;
}


#wrapper form{
    padding: 0px 10px;
    border-radius: 5px;
    flex-basis: 100%;
}

#wrapper input, #wrapper select{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 0px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    box-shadow: 0 0 1px rgb(0, 0, 0);
}

.inputError{
    box-shadow: 0 0 4px 1px rgb(255, 0, 0);
}

.button_group{
    text-align: center;
    position: relative;
}

/* === Sign in Form === */
button[type="submit"], button[type="button"]{	
    width: 52px;
    height: 52px;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    outline: 0;	
    border: 6px solid rgb(0, 0, 0);
    font-size: 25px;
    text-indent: 0px;
    padding-left: 9px;
    padding-bottom: 3px;
    text-align: center;
    box-shadow: 0 0 2px rgb(0, 0, 0);
    margin-right: 10px;
    background-image: -webkit-linear-gradient(#127009, #3b9932, #409e37);
    background-image: -moz-linear-gradient(#127009, #3b9932, #409e37);
    background-image: -o-linear-gradient(#127009, #3b9932, #409e37);
    -moz-box-shadow: inset 0 0 7px rgba(0,0,0,0.5);
}
button[type="submit"]:hover, button[type="button"]:hover{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 2px rgb(0, 0, 0);
    cursor: pointer;
}
button[type="submit"]:before, button[type="button"]:before {
    content: "";
    color: transparent;
    line-height: 16px;
    width: 52px;
    height: 52px;
    margin-top: -7px;
    margin-bottom: -43px;
    margin-left: -15px;
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1) );
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
    border-radius: 50px;
    display: block;
}

button:disabled{
    background-color: gray;
    background-image: -webkit-linear-gradient(#525252, #b5b5b5, #f1f1f1);
}

button:disabled:hover{
    cursor: auto;
}

.th50{
    width: 50px;
}

.spanFix30{
    display: inline-block;
    width: 10%;
}
.recipe_table{
    empty-cells: show;
    margin: auto;    
    border-collapse: collapse;
    background-color: white;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    color: #000000;
    font-size: 10px;
    line-height: 1.2578125;
    text-align: center;
}
.recipe_table > tbody td{
    min-width: 40px;
    max-width: 50px;
    overflow: hidden;    
}

.recipe_table tr {
    height: 20px;
}

th {
    color: #000000;    
    line-height: 1.2578125;
}

.Tvertical{
    position: relative;
    /*overflow: hidden;*/
    width: 32px;
    height: 54px;
}

.Tvertical > span{
    position: absolute;    
    display: table;
    width: 54px;
    height: 32px;
    text-align: center;
    -webkit-transform: translate(-11px,11px) rotate(-90deg);
    -moz-transform: translate(-11px,11px) rotate(-90deg);
    -ms-transform: translate(-11px,11px) rotate(-90deg);
    -o-transform: translate(-11px,11px) rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}

.Tvertical > span > span{
    display: table-cell;
    vertical-align: middle;
}


.total_brand{
    background-color: #F2F2F2;
}

.total_group{
    background-color: #E6E6E6;
}

.total_client{
    background-color: #D9D9D9;
}

.total{
    background-color: #FFFF99;
}

.roll_up{
    position: absolute;
    border: 15px solid;
    margin-top: -45px;
    right: 25%;
    border-color: #ffffff00 #ffffff00 #000000 #ffffff00;    
}

.roll_down{
    position: absolute;
    border: 15px solid;
    margin-top: -30px;
    right: 25%;
    border-color: #000000 #ffffff00 #ffffff00 #ffffff00;
}

nav {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to top, #71bb71 0%, #bddebd 100%);    
    box-shadow: inset 0 4px 8px 0 rgba(0,0,0,0.2), inset 0 4px 20px 0 rgba(0,0,0,0.19);
}
nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul:after {
    content: "";
    display: table;
    clear: both;
}
nav a {
    text-decoration: none;
    display: block;
    transition: .3s linear;
}
.activeLi > a{
    cursor: default;
    pointer-events: none;
}

.topmenu > li > a:before {
    content: '';
    position: absolute;
    border: 0px solid;
    border-color: #ffffff #ffffff00 #ffffff00 #f7f7f700;
    left: 50%;
    top: 0px;
    z-index: 2;
    transform: translateX(-50%);
    transition: .5s linear;    
}

.topmenu > li > a:after {
    content: '';
    position: absolute;
    border: 0px solid;
    border-color: #ffffff00 #f7f7f700 #ffffff #ffffff00;
    left: 50%;
    bottom: 0px;
    z-index: 2;
    transform: translateX(-50%);    
    transition: .5s linear;    
}

.topmenu > li {        
    position: relative;
    border-right: 1px solid black;  
}

.topmenu > li > a:hover:before{
    content: '';
    position: absolute;
    border: 19px solid;
    border-color: #ffffff #ffffff00 #ffffff00 #f7f7f700;
    left: 50%;
    top: 0px;
    z-index: 2;
    transform: translateX(-50%);     
}

.topmenu > li > a:hover:after{
    content: '';
    position: absolute;
    border: 19px solid;
    border-color: #ffffff00 #f7f7f700 #ffffff #ffffff00;
    left: 50%;
    bottom: 0px;
    z-index: 2;
    transform: translateX(-50%);    
}

.topmenu > li > a {  
    padding: 20px 30px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}
.topmenu > li > a.active, 
.submenu a:hover {color: #ffffff;}
.topmenu .fa, 
.submenu .fa {
    margin-left: 5px;
    color: inherit;
}

.activeLi:before{
    content: '';
    position: absolute;
    border: 19px solid;
    border-color: #ffffff #ffffff00 #ffffff00 #f7f7f700;
    left: 50%;
    top: 0px;
    z-index: 2;
    transform: translateX(-50%);
}
.activeLi:after{
    content: '';
    position: absolute;
    border: 19px solid;
    border-color: #ffffff00 #f7f7f700 #ffffff #ffffff00;
    left: 50%;
    bottom: 0px;
    z-index: 2;
    transform: translateX(-50%);
}

.submenu {
    position: absolute;
    z-index: 5;
    min-width: 400px;
    background: #bbd7ef;
    border-top: 1px solid #CBCBCC;
    border-left: 1px solid #CBCBCC;
    border-right: 1px solid #CBCBCC;
    visibility: hidden;
    opacity: 0; 
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
    transition: .3s linear; 
    box-shadow: 0px 0px 10px 0px #00000073;
}
.submenu li {position: relative;}
.submenu li a {
    color: #282828;
    padding: 10px 20px;
    font-size: 16px;
    border-bottom: 1px solid #ffffff;
}
.submenu .submenu {
    position: absolute;
    left: 100%;
    top: -1px;
    transition: .3s linear;
    box-shadow: 0px 0px 3px 0px #00000073
}
nav li:hover > .submenu {
    transform: rotateX(0deg);
    visibility: visible;
    opacity: 1;
}

.reportReq{
    empty-cells: show;
    margin: auto;
    border-collapse: collapse;
    background-color: white;
    font-family: 'DejaVu Sans', Arial, Helvetica, sans-serif;
    color: #000000;
    line-height: 1.2578125;
    text-align: center;    
}

.reportReq > thead{
    border: 1px solid black;
    background-color: #99cc99;
}

.reportReq td{
    padding: 0px 10px;
    border: 1px solid black;
    max-width: 100%;            
}

.reportReq th{
    padding: 0px 10px;
    border: 1px solid black;
    max-width: 100%;        
}

.compReceipt{
    border-bottom: 1px solid;
}

.head{
    background: linear-gradient(to top, #71bb71 0%, #bddebd 100%);
}

#showReceiptComp{
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    background-color: #f1f1f1!important;
    /* padding: 5px; */
    margin-top: 50px;
}

.compReceipt span:first-child{
    width: 150px;
    border: 1px;
    display: inline-block;
    padding: 5px 5px;

}

.formDoz{
    width: 350px;
}

#receiptList{
    position: absolute;
    margin: -20px 0px 0px 0px;
    width: 85%;
    border: 1px solid;
    list-style: none;
    overflow: overlay;
    max-height: 250px;
    padding: 0px;
    background-color: white;
    left: 25px;
}

#receiptList > li:hover{
    cursor: pointer;
    background: linear-gradient(to top, #71bb71 0%, #bddebd 100%);
}

#receiptList > li{    
    padding: 5px 0;
    border-bottom: 1px solid;
}
.regVol{
    display: inline-block;
    border: 1px solid;
    padding: 1px;
    width: 50px;
    text-align: center;
    background: white;
    font-size: 12px;    
}

.hoppers{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    height: 150px;
}

.others{    
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    height: 150px;
}

.dispencers{
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    height: 200px;
}

.hopper{ 
    position: relative;
    border: 1px solid;
    background: #e6e6e6;
    padding: 3px;
    margin-right: 5px;
    margin-bottom: 25px;
}

.mixers{    
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    height: 200px;
}

.mixers div{
    width: 247px;
    height: 145px;    
}

.mixers div > object{
    zoom: 2;
}

.hopper > p{
    text-align: center;
    margin: 0px;
    font-size: 10px;
}

.device{
    position: relative;
    padding: 3px;
    margin-right: 5px;
    margin-bottom: 25px;
}

.device > span{
    background: aliceblue;
    padding: 3px 0px;
    width: 65px;
    text-align: center;
    display: block;
    margin: auto;
}

.device > p{
    color: #000000;
    font-weight: bold;
    text-align: center;
    margin: 0;
    text-shadow: 1px 1px 0px white;
    padding-bottom: 10px;
}

.device > img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 45px);
    z-index: -1;
}

.device > object{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%, 45px);
    z-index: -1;
    max-width: 120px;
}

.bsu_open_checkbox{    
    z-index: -1;
    opacity: 0;
    display: block;
}

.bsu_open_checkbox+label {
    position: absolute;
    left: 50%;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background-color: #f72414;    
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
    transform: translate(-50%, -90%);
}

.bsu_open_checkbox+label::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 14px;
    height: 14px;
    margin: 0 auto;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;    
    transition: 0.2s ease width, 0.2s ease height;
}

.bsu_open_checkbox:checked+label{
    background-color: #07d410;
    border: 1px solid;
}

.bsu_open_checkbox:checked+label:before{
    width: 0;
    height: 0;
}

.bsu_open_checkbox:not(:disabled):not(:checked)+label:hover::before {
    width: 11px;
    height: 11px;
    box-shadow: inset 0 7px 10px #ff9d96;
}
/* стили для активного состояния чекбокса (при нажатии на него) */
.bsu_open_checkbox:not(:disabled):active+label::before {
  transform: translateY(-50%) scale(0.9);
}
/* стили для чекбокса, находящегося в фокусе */
.bsu_open_checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.bsu_open_checkbox:focus:not(:checked)+label::before {
  border-color: #80bdff;
}
/* стили для чекбокса, находящегося в состоянии disabled */
.bsu_open_checkbox:disabled+label::before {
  background-color: #e9ecef;
}

#tick_mark
{
    position: absolute;
    top: -1px;
    right: 0;
    left: 0;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-left: 14px;
    transform: rotateZ(-40deg);
}

#tick_mark:before, #tick_mark:after
{
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    opacity: 0;
    transition: 0.2s ease transform, 0.2s ease opacity;
}

#tick_mark:before
{
    left: 0;
    bottom: 0;
    width: 10px;
    height: 30px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.23);
    transform: translateY(-68px)
}

#tick_mark:after
{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.23);
    transform: translateX(78px)
}

.plc_error{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #f0f8ffb0;
    top: 0;
    left: 0;
    z-index: 999;
}

.plc_error > p{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    color: red;
    font-size: 30px;
    text-shadow: 1px 1px black;
}

.steam{
    display: inline-block;
    margin: 15px;
    padding: 30px 10px 0px;
    text-align: center;
    box-shadow: 1px 1px 2px 1px #a7a7a7;
    position: relative;
    min-height: 100px;
    min-width: 200px;
}

.steam_switch{
    height: 62px;
    padding: 5px;
}

.steam > p{
    margin: 0px;
    background: linear-gradient(to top, #71bb71 0%, #bddebd 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
}

.steam > span{
    font-size: 20px;
    color: red;    
}

.switch_wait label:before{        
    background: linear-gradient(#484848, #a7a5a5, #cecece) !important;    
}

.steam_switch input[type="checkbox"]{
    display: none;
    opacity: 0;    
}

.steam_switch input[type="checkbox"] + label{
    cursor: pointer;
    position: relative;
    left: -30px;    
}

.steam_switch input[type="checkbox"] + label:before{
    content: '\f04b';
    line-height: 3;
    position: absolute;
    border: 6px solid #000;
    border-radius: 50%;    
    background: #48ad48;
    z-index: 100;
    width: 50px;
    height: 50px;  
    transition: .5s linear;
}

.steam_switch input[type="checkbox"] + label:hover:before {
    color: #fff;     
}

.steam_switch input[type="checkbox"]:checked + label:before{
    content: '\f04d';         
    background: #ab2c2c;
}

.steam_switch input[type="checkbox"]:disabled + label:before{    
    /*background: #828282;*/
    color: #000;         
}

.steam_switch input[type="checkbox"]:disabled + label{    
    cursor: default;
}

.steam_switch input[type="checkbox"] + label:after{
    content: '';
    border-radius: 50%;
    width: 62px;
    height: 62px;
    position: absolute;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1) );
    z-index: 101;    
}

.steam > input[type="text"]{
    padding: 5px 0px;
    font-size: 21px;
    display: block;
    margin-bottom: 10px;
}

.admin_container{    
}

.admin_left{
    position: fixed;
    background: dimgrey;
    height: 100%;
    max-width: 20%;    
    left: 0px;
}

.admin_right{
    width: 80%;
    float: right;
    margin-top: 5%;
}

.admin_menu{   
    position: relative;
    border-bottom: 1px solid #000000;
    width: 200px;
}

.admin_menu:hover{    
    background: linear-gradient(to top, #71bb71 0%, #bddebd 100%);
}

.admin_menu a{
    color: #f0f8ff;
    width: 100%;
    display: block;
    padding: 10px;
}

.admin_active_menu{
    background: linear-gradient(to top, #71bb71 0%, #bddebd 100%);
}

.admin_active_menu:after{
    content: "";
    position: absolute;
    border: 22px solid;
    border-color: #ffffff00 rgb(253, 253, 253) #ffffff00 #ffffff00;
    top: 0px;
    right: 0px;
}

.admin_form input, .admin_form select{
    display: block;
    width: 20%;
    margin-bottom: 20px;
    padding: 10px 0px;
    font-size: 20px;
    border: none;
    box-shadow: 0 0 1px rgb(0, 0, 0);
}

.main_button_exit{
    padding: 10px 15px;
    border: 1px solid;
    background: linear-gradient(to top, #71bb71 0%, #bddebd 100%);
    display: block;
    margin: 10px;
}

.admin_header h1{
    position: fixed;
    width: 100%;
    background: #696969;
    margin: 0px;
    padding: 5px;
    color: aliceblue;
    border-bottom: 1px solid black;
}

.animationMixer{    
    animation-name: test-animation;
    animation-duration: 2s;    
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.print{
    font-size: 34px;
    text-align: center;
    cursor: pointer;
}

.printElem p {
    text-align: center;
}

.steamLineChart{
    margin: 5px 0px;
}

.steamLineChart p{
    margin: 0;
    padding: 0px 5px;
    cursor: pointer;
    color: #028c07;
    font-size: 30px;
    display: inline;
    box-shadow: 1px 1px 1px 1px black;    
}

.steamLineChart p:hover{
    box-shadow: inset 1px 1px 3px 1px black;        
    transition: transform 1s;
}

.bsu_components, .bsu_queue {
    box-shadow: 0 0 1px rgb(0, 0, 0);
    margin-bottom: 20px;
    padding: 0px 10px;
    background: white;
    height: 300px;
    overflow: overlay;
}

.bsu_components > div:not(:last-child), .bsu_queue > div:not(:last-child) {
    border-bottom: 1px solid;
}

.bsu_components > div > p, .bsu_queue > div > p{
    width: 50%;
    display: inline-block;
    text-align: center;
    margin: 0;
    padding: 5px 0px;
}

#notice_box{    
    position: fixed;
    width: 370px;
    right: 20px;
    top: 20px;    
    z-index: 999999;
}

#notice_msg{
    display: none;
    color: #ffffff;
    margin-top: 18px;
    font-weight: bold;
    -webkit-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;    
    border: 1px solid #3e3e3e;
    background: #545454;
    padding: 10px;
}

.alert_comp{
    border: 1px solid #3e3e3e;
    background: #ffc0c0;
    -webkit-box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 5px 3px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    z-index: 999999;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
}

.alert_comp > strong{
    color: #000000;
    margin-top: 18px;
    font-weight: bold;
}

@media (max-width: 1650px){ 
    h3{
        text-align: center;
        line-height: 0px;
        font-size: 15px;
    }
    
    .container{
        flex-direction: column;
    }
    
    .left{                        
        margin-bottom: 20px;        
    }

    #wrapper{
        display: flex;
        width: 100%;
    }

    #wrapper h1{
        display: none;
    }
    .formDoz{
        width: 100%;
    }

    .spanFix30 {
        display: inline-block;
        width: 10%;
    }
    
    #wrapper input, #wrapper select{
        display: inline-block;
        width: 85%;
        margin-bottom: 10px;
        padding: 5px 0px;  
        font-size: 14px;
    }

    button[type="submit"], button[type="button"] {
        width: 32px;
        height: 32px;
        color: rgb(0, 0, 0);
        border-radius: 50px;
        outline: 0;
        border: 3px solid rgb(0, 0, 0);
        font-size: 15px;
        text-indent: 0px;        
        text-align: center;
        padding-left: 7px;
        box-shadow: 0 0 2px rgb(0, 0, 0);        
        background-image: -webkit-linear-gradient(#127009, #3b9932, #409e37);
        background-image: -moz-linear-gradient(#127009, #3b9932, #409e37);
        background-image: -o-linear-gradient(#127009, #3b9932, #409e37);
        -moz-box-shadow: inset 0 0 7px rgba(0,0,0,0.5);
    }
    
    button[type="submit"]:before, button[type="button"]:before {
        content: "";
        color: transparent;
        line-height: 16px;
        width: 32px;
        height: 32px;
        margin-top: -5px;
        margin-bottom: -26px;
        margin-left: -10px;
        background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1) );
        background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
        background-image: -o-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
        border-radius: 50px;
        display: block;
    }
    
    #showReceiptComp{
        margin-top: unset;
        width: 100%;
        margin-left: 10%;
    }

    #receiptList{            
        width: 100%;
        left: unset;
        z-index: 99;
    }

    .compReceipt span:first-child{
        width: 50%
    }

    .right{
        position: unset;
    }    
}

.open-button {
  background-color: #555;
    color: white;
    padding: 15px 15px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    text-align: center;
    border-radius: 50%;
}

.activeUserChat{
    color: blue;
    font-weight: bold;
}

.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  z-index: 9;
}

.chat-popup > ul {
    display: inline-block;
    box-shadow: 0px 0px 2px 1px black;
    background: #f0f0f0;
    max-width: 100px;
    padding: 5px;
}

.chat-popup > ul li {
    list-style-type: none;
    cursor: pointer
}

.chat-popup > ul li:hover {    
    color: graytext;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  display: inline-block;
  box-shadow: 0px 0px 2px 1px black;
}

/* Полноразмерная текстовая область */
.form-container textarea {
  width: 100%;  
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* Когда текстовая область получит фокус, сделайте что-нибудь */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form-container input{
    padding: 10px 0px;
    width: 100%;
    margin-bottom: 15px;
    font-size: large;
}

/* Установите стиль для кнопки отправить/кнопка */
.form-container .btn {  
  width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
    border: 1px solid;
    padding: 5px;
    text-align: center;
    background: #83c383;
    cursor: pointer;
}

/* Добавьте красный цвет фона к кнопке отмена */
.form-container .cancel {
  background-color: red;
}

/* Добавьте некоторые эффекты наведения на кнопки */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

@media (max-width: 1075px){        

    .reportReq th{
        padding: 0px;
    }

}

@media (max-width: 995px){        

    .reportReq td{
        padding: 0px;
    }

}

@media print {
    body * {
        visibility: hidden;
    }
    #section-to-print * {
        visibility: visible;            
    }

    .right{
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }    

    .reportReq{ 
        margin: 0px 20px;
    }

    .reportReq th{ 
        padding: 0px 10px;
    }

    .reportReq td{ 
        padding: 0px 10px;
    }

    .receipt_link{
        font-weight: normal;
    }
}