#allFan{    
    transform-origin: center;
    transform-box: fill-box;
}

#allFan1{    
    transform-origin: center;
    transform-box: fill-box;
    transform: rotateY(90deg);        
}

.fanRun{
    animation: fanRotate 3s linear infinite;
}

.fanRun1{
    animation: fanRotate1 3s linear infinite;
}

object{
    margin: auto;
    width: 200px;    
}

@keyframes fanRotate {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(-360deg);
    }
}

@keyframes fanRotate1 {
    from{
        transform: rotateY(90deg);
    }
    to{
        transform: rotateY(-250deg);
    }
}